<head>
	<meta charset="utf-8">
		<title>EPL-DB</title>
			<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.13-beta/nv.d3.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
			<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body ng-controller="AppCtrl">
     <div class="row">
	     <div class="col-lg-3" id="badge">
	     		<img id="badgey" ng-src="images/{{badgehash}}"/>
	     </div>
	     	<div class="col-lg-6">
	     		<nvd3-line-chart data="megajson" id="megajson" width="1000" height="500" showXAxis="false" showYAxis="false" interactive="true" tooltips="true" showLegend="true"><svg></svg></nvd3-line-chart>
	     		</div>

	     	<div class="col-lg-3">
	     	Live Shots on Target
	     		<nvd3-line-chart data="livetargets" id="livetargets" width="500" height="400" showXAxis="false" showYAxis="false" forcex="[1]" showLegend="true" color="colorFunction()"><svg id="livetargets-svg"></svg></nvd3-line-chart>
     		</div>
     </div>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="team" typeahead="name for name in names | filter:$viewValue">
			<p class="error">{{error}}</p>	
			<p class="lead" ng-repeat-start="fix in fixtures">{{fix.home}} vs. {{fix.away}}</p>
				<p class="muted" ng-repeat-end="">{{fix.date}}</p> 
<div id="hometeam"><div class="hometeam"><h4>{{hometeamname}}</h4></div></div>
  <div id="awayteam"><div class="awayteam"><h4>{{awayteamname}}</h4></div></div>
		<table class="table table-hover" id="teams">
        <tr>
            <th>No.</th><th>Name</th><th></th>
        </tr>
			  <tr ng-repeat="item in hometeam | limitTo:11">
		      <td>{{item.number}}</td><td>{{item.player}}</td><td>{{item.subbed}}</td>
		  </tr>
		</table>
  	<table class="table table-hover" id="teams">
        <tr>
	       <th>No.</th><th>Name</th><th></th>
        </tr>
			  <tr ng-repeat="item in awayteam | limitTo:11">
		      <td>{{item.number}}</td><td>{{item.player}}</td><td>{{item.subbed}}</td>
		  </tr>
		</table>
	</div>
  <div class="col-lg-3">
		  {{prematchsing.text}}
	  <h2 ng-repeat="f in form" style="background-color: {{myColour}}" id="form-column">
				{{f.form}}
		</h2>	  
		<h2 ng-repeat="f in otherform" style="background-color: {{otherColour}}" id="other-form-column">
				{{f.form}}
		</h2>
		<br>
		<table class="table table-hover" id="scorers">
        <tr>
            <th>Name</th>
            <th id="scorer-goals">Goals</th>
        </tr>
			  <tr ng-repeat="s in topscorers">
		      <td>{{s.player}}</td><td id="scorer-goals">{{s.goals}}</td>
		  </tr>
		</table>
		Live Shots
		<nvd3-line-chart data="liveshots" id="liveshots" width="500" height="400" showXAxis="false" showYAxis="false" showLegend="true" color="colorFunction()" forcex="[1]"><svg></svg></nvd3-line-chart>
		

	</div>
  <div class="col-lg-3">
		<table class="table table-hover">
        <tr>
            <th>Team</th>
            <th>Pl.</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GD</th>
            <th>Points</th>
        </tr>
			  <tr ng-repeat="t in table" ng-class="{success: t.team==team}">
		      <td>{{t.team}}</td>
		      <td>{{t.played}}</td>
		      <td>{{t.won}}</td>
		      <td>{{t.drawn}}</td>
		      <td>{{t.lost}}</td>
		      <td>{{t.difference}}</td>
		      <td>{{t.points}}</td>
		  </tr>
		</table>
	</div>
		<div class="col-lg-3">
		Live Possession
				<nvd3-line-chart data="liveposs" id="liveposs" interactive="true" tooltips="true" width="500" height="400" showXAxis="false" isArea="true" showYAxis="false" showLegend="true" forecey="[30,70]" forcex="[1]"><svg></svg></nvd3-line-chart>
		Live Corners
				<nvd3-line-chart data="livecorners" id="livecorners" color="colorFunction()" width="500" height="400" showLegend="true" showXAxis="false" showYAxis="false" forcex="[1]"><svg></svg></nvd3-line-chart>
		</div>
</body>