/.bundle
.rspec
Guardfile
/log/*.log
/tmp
/spec/tmp
/config/app_config.yml
/config/newrelic.yml
/lib/log

/app/assets/javascripts/ga.js
Gemfile
Gemfile.lock

/config/database.yml
/config/initializers/secret_token.rb
/config/application.yml

.DS_Store
