<div class="row">
  <div class="large-1 columns">
    <h1>Articles</h1>
  </div>
  <div class="large-1 large-offset-10 columns">
    <%= link_to "Populate", populater_path, :method => 'put', :class => "button" %>
    <%= link_to "Wipe", wiper_path, :method => 'put', :class => "button" %>
  </div>
</div>
<center>
<table id="articles">

  <thead>
    <tr>
      <th width="200">Title</th>
      <th width="500">Text Body</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
      </tr>
    <% end %>
<ul>
</div>
</div>

</ul> 
  </tbody>
</table>
</center>
<br>

