<body ng-controller="AppController">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: {{myColour}}">
        <a class="navbar-brand" style="color: white" href="#">EPLDB</a>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" focus-on="focusMe" ng-model="team" typeahead="name for name in teamnames | filter:$viewValue">
            </div>
        </form>
        <button type="button" id="sign-out-btn" class="btn btn-warning navbar-btn pull-right">Sign out</button>
        <p class="navbar-text pull-right" style="color: white">{{user.name}}</p>
    </nav>

    <div class="row">
        <div class="col-lg-3" id="badge-div">
            <img id="badgey" ng-src="images/{{badgehash}}" />
        </div>
        <div class="col-lg-6" id="mega-div">

            <nvd3-line-chart data="megajson" id="megajson" width="739" height="320" showXAxis="false" margin="{left:0,top:0,bottom:0,right:0}" showYAxis="false" interactive="true" tooltips="true" showLegend="true">
                <svg id="megaj"></svg>
            </nvd3-line-chart>
        </div>

        <div class="col-lg-3" id="live-targets">
            <nvd3-line-chart data="livetargets" id="livetargets" margin="{left:0,top:0,bottom:0,right:10}" width="350" height="300" showXAxis="false" showYAxis="false" forcex="[1]" showLegend="true" color="colorFunction()">
                <svg id="livetargets-svg"></svg>
            </nvd3-line-chart>
        </div>
    </div>
    <div class="col-lg-3">
        <table class="table table-hover" id="fixturestable">
            <tr ng-repeat="fix in fixtures | limitTo:5">
                <td>{{fix.home}} vs. {{fix.away}}
                    <br />
                    <span class="fixdate">{{fix.date}}</span>
                </td>
            </tr>
        </table>
        <div id="hometeam">
            <div class="hometeam">
                <h4>{{hometeamname}}</h4>
            </div>
        </div>
        <div id="awayteam">
            <div class="awayteam">
                <h4>{{awayteamname}}</h4>
            </div>
        </div>
        <table class="table table-hover" id="teams">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in hometeam | limitTo:11">
                <td>{{item.number}}</td>
                <td>{{item.player}}</td>
                <td>{{item.subbed}}</td>
            </tr>
        </table>
        <table class="table table-hover" id="teams">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in awayteam | limitTo:11">
                <td>{{item.number}}</td>
                <td>{{item.player}}</td>
                <td>{{item.subbed}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3">
        <h2 ng-repeat="f in form" style="background-color: {{myColour}}" id="form-column">
            {{f.form}}
        </h2>
        <div class="prematch">
            <p>{{prematchsing.text}}</p>
        </div>
        <h2 ng-repeat="f in otherform" style="background-color: {{otherColour}}" id="other-form-column">
            {{f.form}}
        </h2>
        <br>
        <table class="table table-hover" id="scorers">
            <tr>
                <th>Name</th>
                <th id="scorer-goals">Goals</th>
            </tr>
            <tr ng-repeat="s in scorers">
                <td>{{s.player}}</td>
                <td id="scorer-goals">{{s.goals}}</td>
            </tr>
        </table>
        <div class="livescores">
            <p class="lead" ng-repeat-start="score in scores">{{score.teams}}
                <span class="score">{{score.score}}</span>
            </p>
            <p ng-repeat-end=""></p>
        </div>
    </div>
    <div class="col-lg-3" id="table-div">
        <table class="table table-hover">
            <tr>
                <th>Team</th>
                <th>Pl.</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GD</th>
                <th>Points</th>
            </tr>
            <tr ng-repeat="t in premtable" ng-class="{success: t.team==team}">
                <td>{{t.team}}</td>
                <td class="table-points">{{t.played}}</td>
                <td class="table-points">{{t.won}}</td>
                <td class="table-points">{{t.drawn}}</td>
                <td class="table-points">{{t.lost}}</td>
                <td class="table-points">{{t.difference}}</td>
                <td class="table-points">{{t.points}}</td>
            </tr>
        </table>
        <!-- <nvd3-line-chart data="liveposs" id="liveposs" interactive="true" tooltips="true" margin="{left:0,top:0,bottom:5,right:25}" width="500" height="400" showXAxis="false" showYAxis="false" showLegend="true"><svg id="poss-svg"></svg></nvd3-line-chart> -->
    </div>
    <div class="col-lg-3" id="live-div">
        <nvd3-line-chart data="liveshots" id="liveshots" width="350" height="300" margin="{left:0,top:0,bottom:5,right:10}" showXAxis="false" showYAxis="false" showLegend="true" color="colorFunction()" forcex="[1]">
            <svg></svg>
        </nvd3-line-chart>

        <nvd3-line-chart data="livecorners" id="livecorners" color="colorFunction()" margin="{left:0,top:0,bottom:5,right:10}" width="350" height="300" showLegend="true" showXAxis="false" showYAxis="false" forcex="[1]">
            <svg></svg>
        </nvd3-line-chart>
    </div>
</body>
