<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <link rel="stylesheet" type="text/css" href="eplv10.css" />

    <title>EPLDB</title>
</head>

<body id="bootstrap_1pxdeep" data-target="#epl_navbar" ng-controller="AppController">
    <nav id="epl_navbar" class="navbar navbar-fixed-top" role="navigation" style="background-color: {{myColour}}">
        <div class="navbar-header">
            <a class="navbar-brand">EPLDB</a>
        </div>

        <div id="epl_navbar_nav">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" focus-on="focusMe" ng-model="team" typeahead="name for name in teamnames | filter:$viewValue" typeahead-editable="false">
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="/">Season Overview</a>
                </li>
                <li><a href="/match">Match Mode</a>
                </li>
                <li><a href="#" ng-model="settingsToggle" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Toggles</a>
                </li>
            </ul>
            <span ng-if="settingsToggle">
                <div class="btn-group" id="top-toggles">
                    <button type="button" class="btn btn-default color3" ng-model="$storage.leaguetable" btn-checkbox>PL Table</button>
                    <button type="button" class="btn btn-default color3" ng-model="$storage.liveposs" btn-checkbox>Live Possession</button>
                    <button type="button" class="btn btn-default color3" ng-model="$storage.oppoform" btn-checkbox>Oppo. Form</button>
                    <button type="button" class="btn btn-default color3" ng-model="$storage.teams" btn-checkbox>Teams</button>
                    <button type="button" class="btn btn-default color3" ng-model="$storage.subs" btn-checkbox>Subs</button>
                    <button type="button" class="btn btn-default color3" ng-model="$storage.liveBars" btn-checkbox>Live Bars</button>
                    <button type="button" class="btn btn-default color3" ng-model="$storage.nextFixtures" btn-checkbox>Next Matches</button>
                </div>
            </span>
        </div>
    </nav>

    <div class="sectional color1">
        <div class="container" id="colours-middle">
            <div id="flex-container">
                <div class="flex">
                    <div class="col-lg-3 sectional color1a" id="match-live-graph">
                        <p id="graphtitle" style="left: 2%;">Shots on Target</p>
                        <nvd3-line-chart data="livetargets" id="livetargets" margin="{left:0,top:0,bottom:10,right:0}" width="370" height="300" showXAxis="false" showYAxis="false" forcex="[1]" showLegend="true" color="colorFunction()">
                            <svg id="live-svg" viewBox="0 0 333 300" preserveAspectRatio="xMidYMid"></svg>
                        </nvd3-line-chart>
                    </div>
                    <div class="col-lg-3 sectional color1a" id="match-live-graph">
                        <p id="graphtitle" style="left: -4%;">Shots</p>
                        <nvd3-line-chart data="liveshots" id="liveshots" width="370" height="300" margin="{left:0,top:0,bottom:10,right:0}" showXAxis="false" showYAxis="false" showLegend="true" color="colorFunction()" forcex="[1]">
                            <svg id="live-svg" viewBox="0 0 333 300" preserveAspectRatio="xMidYMid"></svg>
                        </nvd3-line-chart>
                    </div>
                    <div class="col-lg-3 sectional color1a" id="match-live-graph">
                        <p id="graphtitle" style="left: -3%;">Corners</p>
                        <nvd3-line-chart data="livecorners" id="livecorners" color="colorFunction()" margin="{left:0,top:0,bottom:10,right:0}" width="370" height="300" showLegend="true" showXAxis="false" showYAxis="false" forcex="[1]">
                            <svg id="live-svg" viewBox="0 0 333 300" preserveAspectRatio="xMidYMid"></svg>
                        </nvd3-line-chart>
                    </div>
                </div>
            </div>
            <div id="flex-container2">
                <div class="flex2">
                    <div class="col-lg-3" id="leftmostcol">
                        <span ng-if="$storage.liveBars">
                            <table class="table color1">
                                <td>
                                    <span class="bar-title">Possession</span>
                                    <progress percent="possBar"></progress>
                                </td>
                                <tr>
                                    <td>
                                        <span class="bar-title">Shots</span>
                                        <progress percent="shotsBar"></progress>
                                    </td>
                                </tr>
                            </table>
                        </span>
                        <table class="table color1">
                            <td>
                                <h2 ng-repeat="f in form" style="background-color: {{myColour}}" id="form-column">
                                    {{f.form}}
                                </h2>
                            </td>
                            <tr>
                                <td>
                                    <span ng-if="$storage.oppoform">
                                        <h2 ng-repeat="f in otherform" style="background-color: {{otherColour}}" id="other-form-column">
                                            {{f.form}}
                                        </h2>
                                </td>
                            </tr>
                            </span>
                            <table class="table color1" id="scorers">
                                <tr>
                                    <th>Name</th>
                                    <th id="scorer-goals">Goals</th>
                                </tr>
                                <tr ng-repeat="s in scorers track by $index">
                                    <td>{{s.player}}</td>
                                    <td id="scorer-goals">{{s.goals}}</td>
                                </tr>
                            </table>
                    </div>

                    <div class="col-lg-3" id="fix-and-table2">
                        <span ng-if="$storage.teams">
                            <div id="hometeam">
                                <div class="hometeam">
                                    <h4>{{hometeamname}}</h4>
                                </div>
                            </div>
                            <div id="awayteam">
                                <div class="awayteam">
                                    <h4>{{awayteamname}}</h4>
                                </div>
                            </div>
                            <div class="row" id="teamrows">
                            <table class="table color1" id="teams">
                                <tr>
                                </tr>
                                <tr ng-repeat="item in hometeam | limitTo:11">
                                    <td>{{item.player}}</td>
                                </tr>
                            </table>
                            <table class="table color1" id="teams">
                                <tr>
                                </tr>
                                <tr ng-repeat="item in awayteam | limitTo:11">
                                    <td>{{item.player}}</td>
                                </tr>
                            </table>
                            </div>
                        </span>
                        <span ng-if="$storage.subs">
                          <div class="row" id="teamrows">
                            <table class="table color1" id="subs">
                                <tr ng-repeat="item in homesubs | limitTo:7" class="coloursubs">
                                    <td>{{item.player}}</td>
                                </tr>
                            </table>
                            <table class="table color1" id="subs">

                                <tr ng-repeat="item in awaysubs | limitTo:7" class="coloursubs">
                                    <td>{{item.player}}</td>
                                </tr>
                            </table>
                           </div>
                        </span>
                    </div>

                    <span ng-if="$storage.leaguetable">
                        <div id="match-table-div">
                            <table class="table table-hover color1">
                                <tr>
                                    <th>Team</th>
                                    <th>Pl.</th>
                                    <th>W</th>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>GD</th>
                                    <th>Points</th>
                                </tr>
                                <!-- <tr ng-repeat="t in premtable" ng-style="t.team == team && {'background-color': myColour}"> -->
                                
                                <tr ng-repeat="t in premtable" ng-class="{success: t.team==team}"  ng-click="selectTeam(t.team)">
                                    <td>{{t.team}}</td>
                                    <td class="table-points">{{t.played}}</td>
                                    <td class="table-points">{{t.won}}</td>
                                    <td class="table-points">{{t.drawn}}</td>
                                    <td class="table-points">{{t.lost}}</td>
                                    <td class="table-points">{{t.difference}}</td>
                                    <td class="table-points">{{t.points}}</td>
                                </tr>
                            </table>
                        </div>
                    </span>
                    <div class="col-lg-3" id="rightmostcol">
                        <span ng-if="$storage.liveposs">
                            <div class="liveposs">
                                <table class="table color1" id="live-poss">
                                    <td>
                                        <nvd3-sparkline-chart data="liveposs" id="liveposs" width="350" height="150" margin="{left:10, top:20, bottom:10, right:45}" x="xFunction()" y="yFunction()" color="sparkFunction()">
                                            <svg></svg>
                                        </nvd3-sparkline-chart>
                                        <p id="graphtitle" style="left: 9%; top: 16%;">Possession</p>
                                    </td>
                                    </tr>
                                </table>
                            </div>
                        </span>
                        <div class="livescores">
                         <span ng-if="gotLive">
                            <table class="table color1">
                                <tr ng-repeat="score in scores" ng-class="{success: score.home==team || score.away==team}">
                                    <td>
                                        {{score.home}} vs. {{score.away}} {{score.fulltime[0]}}-{{score.fulltime[1]}}
                                    </td>
                                </tr>
                            </table>
                            </span>
                            <script id="popover.html" type="text/ng-template">
                                <table>
                                    <tr ng-repeat="inci in score.incidents">
                                        <td>{{inci[0]}}min. {{inci[3]}}<br/>
                                        {{inci[1]}} <b>{{inci[2]}}</b><br/>
                                        </td>
                                    </tr>
                                </table>
                            </script>
                            <table class="table color1">
                                <tr ng-repeat="score in results" ng-class="{success: score.home==team || score.away==team}">
                                    <td>
                                    <button popover-placement="left" popover-template="popover.html" id="resultpops" class="btn"><span class="matchresults">{{score.home}} vs. {{score.away}} {{score.fulltime[0]}}-{{score.fulltime[1]}}</span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <span ng-if="$storage.nextFixtures">
                            <div class="livescores">
                                <table class="table color1" id="bottom-table-next-fix">
                                    <tr ng-repeat="nextfix in nextfixtures| limitTo:3">
                                        <td id="bottom-tr-next-fix">
                                            <p class="lead" id="colour-lead2">{{nextfix.home}} vs. {{nextfix.away}}
                                                <br />
                                                <span class="score">{{nextfix.date}}</span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
