<h3>gon.form</h3>

<div class="large-3 columns">
              <div class="row">
                <div class="large-9 columns">
                    <h5 class="subheader"><div id="hometeamform"></div>  </h5>
                </div>
              </div><hr>
 
              <div class="hide-for-small">
                <div class="row">
                  <div class="large-9 columns">
                    <h5 class="subheader"><div id="awayteamform"></div>  </h5>
                  </div>
                </div><hr>

                </div>
              </div>
            </div>