
  <thead>
    <tr>
      <th width="200">Title</th>
      <th width="200">Text Body</th>
      <th width="200">Text Body</th>
    </tr>
  </thead>
  <tbody>
    <% @supermodel.each do |supermodels| %>
      <tr>
        <td><%= supermodels.matchid %></td>
        <td><%= supermodels.avgpossession %></td>
        <td><%= supermodels.shotaccuracy %></td>
      </tr>
    <% end %>
    </tbody>
