#flex-container {
  text-align: center;
}
#flex-container2 {
  
}
.table>tbody>tr.success>td {
    background-color: rgba(223, 240, 216, 0.27);
}
.popover.left .arrow {
border-left-color: rgba(0,0,0,0.25) !important;
}

.flex {
    width: 90%;
    border: none;
    font: 14px Arial;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-flex-direction: row;
    display: inline-flex;
    flex-direction: row;
}
.flex > div {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 22%;
}
.flex2 {
    width: 100%;
    border: none;
    font: 14px Arial;
    justify-content: center;
    align-content: center;
    display: -webkit-inline-flex;
    -webkit-flex-direction: row;
    display: inline-flex;
    flex-direction: row;
}
.flex2 > div {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 25%;
}
#match-table-div {
}
body, html {
    /*background: #758280;*/
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;

}
.navbar {
    border: none;
    background: #4e6561;
    color: #ffffff;
}
.navbar.color1 {
    background: #4e6561;
    color: #ffffff;
}
.navbar.color2 {
    background: #4e5765;
    color: #ffffff;
}
.navbar.color3 {
    background: #4e6550;
    color: #ffffff;
}
.navbar.color4 {
    background: #654e51;
    color: #ffffff;
}
.navbar-brand {
    color: inherit;
}
.navbar-nav .active {
    overflow-y: hidden;
}
.navbar-nav .active > a {
    color: #ffffff;
    background-color: #758280;
}

.navbar-nav li > a {
    line-height: 25px;
    z-index: 100;
}
.navbar-nav.color1 .active > a {
    color: #ffffff;
    background-color: #758280;
}
.navbar-nav.color1 li > a {
    line-height: 25px;
    z-index: 100;
}
.navbar-nav.color1 li > a:hover, .navbar-nav.color1 li > a:focus {
    color: #ffffff;
    background-color: #7f8c8a;
}
.navbar-nav.color2 .active > a {
    color: #ffffff;
    background-color: #797e86;
}
.navbar-nav.color2 .active > a:hover {
    color: #ffffff;
    background-color: #797e86;
}
.navbar-nav.color2 li > a {
    line-height: 25px;
    z-index: 100;
}
.navbar-nav.color2 li > a:hover, .navbar-nav.color2 li > a:focus {
    color: #ffffff;
    background-color: #848990;
}
.navbar-nav.color3 .active > a {
    color: #ffffff;
    background-color: #79867a;
}
.navbar-nav.color3 .active > a:hover {
    color: #ffffff;
    background-color: #79867a;
}
.navbar-nav.color3 li > a {
    line-height: 25px;
    z-index: 100;
}
.navbar-nav.color3 li > a:hover, .navbar-nav.color3 li > a:focus {
    color: #ffffff;
    background-color: #849085;
}
.navbar-nav.color4 .active > a {
    color: #ffffff;
    background-color: #86797b;
}
.navbar-nav.color4 .active > a:hover {
    color: #ffffff;
    background-color: #86797b;
}
.navbar-nav.color4 li > a {
    line-height: 25px;
    z-index: 100;
}
.navbar-nav.color4 li > a:hover, .navbar-nav.color4 li > a:focus {
    color: #ffffff;
    background-color: #908486;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0;
}
.navbar-toggle {
    background-color: #758280;
}
.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #7a8785;
}
.navbar-toggle:active, .navbar-toggle .active {
    background-color: #707d7b;
    border-top-color: #707d7b;
}
.navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-collapse {
    border-top: none;
}
.form-horizontal {
    font-size: 18px;
}
legend {
    color: #ffffff;
}
.help-block {
    color: #ffffff;
}
.color1 legend {
    color: #ffffff;
}
.color1 .help-block {
    color: #ffffff;
}
table {
    max-width: 100%;
    text-shadow: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
    border-radius: 6px;
    background-color: #65817c;
    color: #ffffff;
}
table thead > tr > th, table tbody > tr > th, table tfoot > tr > th, table thead > tr > td, table tbody > tr > td, table tfoot > tr > td {
    border-top: none;
}
table tbody + tbody {
    border-top: none;
}
table.table th, table.table td {
    border-top-color: #65817c;
}
table.table tbody + tbody {
    border-top-color: #65817c;
}
table.table-bordered {
    border: none;
}
table.table-striped tbody > tr:nth-child(odd) > td, table.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #586f6c;
}
table.table-hover tbody tr:hover > td, table.table-hover tbody tr:hover > th {
    background-color: #708f8a;
}
table.color1 {
    background-color: rgba(101, 129, 108, 0.42);
    color: #ffffff;
}
table.color1.table th, table.color1.table td {
    border-top-color: #65817c;
}
table.color1.table tbody + tbody {
    border-top-color: #65817c;
}
table.color1.table-bordered {
    border: none;
}
table.color1.table-striped tbody > tr:nth-child(odd) > td, table.color1.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #586f6c;
}
table.color1.table-hover tbody tr:hover > td, table.color1.table-hover tbody tr:hover > th {
    background-color: #708f8a;
}
table.color2 {
    background-color: #657081;
    color: #ffffff;
}
table.color2.table th, table.color2.table td {
    border-top-color: #657081;
}
table.color2.table tbody + tbody {
    border-top-color: #657081;
}
table.color2.table-bordered {
    border: none;
}
table.color2.table-striped tbody > tr:nth-child(odd) > td, table.color2.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #58616f;
}
table.color2.table-hover tbody tr:hover > td, table.color2.table-hover tbody tr:hover > th {
    background-color: #707c8f;
}
table.color3 {
    background-color: #658168;
    color: #ffffff;
}
table.color3.table th, table.color3.table td {
    border-top-color: #658168;
}
table.color3.table tbody + tbody {
    border-top-color: #658168;
}
table.color3.table-bordered {
    border: none;
}
table.color3.table-striped tbody > tr:nth-child(odd) > td, table.color3.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #586f5a;
}
table.color3.table-hover tbody tr:hover > td, table.color3.table-hover tbody tr:hover > th {
    background-color: #708f73;
}
table.color4 {
    background-color: #816569;
    color: #ffffff;
}
table.color4.table th, table.color4.table td {
    border-top-color: #816569;
}
table.color4.table tbody + tbody {
    border-top-color: #816569;
}
table.color4.table-bordered {
    border: none;
}
table.color4.table-striped tbody > tr:nth-child(odd) > td, table.color4.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #6f585b;
}
table.color4.table-hover tbody tr:hover > td, table.color4.table-hover tbody tr:hover > th {
    background-color: #8f7075;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-top: none;
}
.panel {
    border: none;
    background: #929695;
    color: #ffffff;
}
.panel.color1 {
    background: #758280;
    color: #ffffff;
}
.panel.color1a {
    background: #4e6561;
    color: #ffffff;
}
.panel.color1b {
    background: #65817c;
    color: #ffffff;
}
.panel.color1c {
    background: #929695;
    color: #ffffff;
}
.panel.color2 {
    background: #797e86;
    color: #ffffff;
}

.panel-heading, .panel-footer {
    border: none;
}
.panel-body {
    padding-bottom: 0;
}
.panel-footer {
    padding-bottom: 15px;
}
.panel-heading, .panel-body, .panel-footer {
    background: #929695;
    color: #ffffff;
}
.panel-heading.color1, .panel-body.color1, .panel-footer.color1 {
    background: #758280;
    color: #ffffff;
}
.panel-heading.color1a, .panel-body.color1a, .panel-footer.color1a {
    background: #4e6561;
    color: #ffffff;
}
.panel-heading.color1b, .panel-body.color1b, .panel-footer.color1b {
    background: #65817c;
    color: #ffffff;
}
.panel-heading.color1c, .panel-body.color1c, .panel-footer.color1c {
    background: #929695;
    color: #ffffff;
}
.panel-heading.color2, .panel-body.color2, .panel-footer.color2 {
    background: #797e86;
    color: #ffffff;
}
.sectional {
    position: relative;
    padding-top: 10px;
    padding-bottom: 0px;
    background: #758280;
    color: #ffffff;
}
.sectional .sectional-title {
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
.sectional.monochrome {
    background: #7b7b7b;
    color: #ffffff;
}
.sectional.highlight {
    background: #85918f;
    color: #ffffff;
}
.sectional.color1 {
    background: url(../images/bg4.jpg) no-repeat center center fixed;

      background-size: cover;

      -webkit-background-size: cover;

      -moz-background-size: cover;

      -o-background-size: cover;
    /*background: #758280;*/
    color: #ffffff;
}
.sectional.color1a {
    background: rgba(101, 129, 108, 0.42);
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-right: 1%;
}
.sectional.color1b {
    background: #65817c;
    color: #ffffff;
}
.sectional.color1c {
    background: #929695;
    color: #ffffff;
}
.sectional.color2 {
    background: #797e86;
    color: #ffffff;
}
.sectional.color2a {
    background: #4e5765;
    color: #ffffff;
}

.nav>li>a {
    color: #a1c7f2;
}
.navbar {
margin-bottom: 10px;
height: 50px;
}

h4 {
font-size: 15px;
}