
  html, body {
    margin:0; padding:0;
    height:100%;
    color: white;
  }

  body {
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
     -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
    
  }

    
  #floater {
    position:relative; float:left;
    height:50%; margin-bottom:-100px;
    width:1px;
  }
   
  #centered {
    position:relative; clear:left;
    height:200px; width:80%; max-width:800px; min-width:250px;
    margin:0 auto;
  }
 
  h2{
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  }