.progress .bar-arsenal {
    background-image: linear-gradient(to bottom, #981633, #981633);
}
.progress .bar-arsenal-away {
    background-image: linear-gradient(to bottom, #eade16, #eade16);
}

.progress .bar-chelsea {
    background-image: linear-gradient(to bottom, #2a4b80, #2a4b80);
}
.progress .bar-chelsea-away {
    background-image: linear-gradient(to bottom, #f3f6f5, #f3f6f5);
}

.progress .bar-west-bromwich-albion {
    background-image: linear-gradient(to bottom, #262c42, #262c42);
}
.progress .bar-west-bromwich-albion-away {
    background-image: linear-gradient(to bottom, #d70026, #d70026);
}

.progress .bar-aston-villa {
    background-image: linear-gradient(to bottom, #65022d, #65022d);
}
.progress .bar-aston-villa-away {
    background-image: linear-gradient(to bottom, #8a3b6f, #8a3b6f);
}

.progress .bar-liverpool {
    background-image: linear-gradient(to bottom, #990f26, #990f26);
}
.progress .bar-liverpool-away {
    background-image: linear-gradient(to bottom, #dfdee0, #dfdee0);
}

.progress .bar-tottenham-hotspur {
    background-image: linear-gradient(to bottom, #fefefe, #fefefe);
}
.progress .bar-tottenham-hotspur-away {
    background-image: linear-gradient(to bottom, #2aafe8, #2aafe8);
}

.progress .bar-manchester-united {
    background-image: linear-gradient(to bottom, #b50a25, #b50a25);
}
.progress .bar-manchester-united-away {
    background-image: linear-gradient(to bottom, #12233b, #12233b);
}

.progress .bar-stoke-city {
    background-image: linear-gradient(to bottom, #ce1334, #ce1334);
}
.progress .bar-stoke-city-away {
    background-image: linear-gradient(to bottom, #262930, #262930);
}

.progress .bar-cardiff-city {
    background-image: linear-gradient(to bottom, #d9002a, #d9002a);
}
.progress .bar-cardiff-city-away {
    background-image: linear-gradient(to bottom, #173284, #173284);
}

.progress .bar-west-ham-united {
    background-image: linear-gradient(to bottom, #501235, #501235);
}
.progress .bar-west-ham-united-away {
    background-image: linear-gradient(to bottom, #cee8f7, #cee8f7);
}

.progress .bar-crystal-palace {
    background-image: linear-gradient(to bottom, #0a408e, #0a408e);
}
.progress .bar-crystal-palace-away {
    background-image: linear-gradient(to bottom, #171516, #171516);
}

.progress .bar-southampton {
    background-image: linear-gradient(to bottom, #99182e, #99182e);
}
.progress .bar-southampton-away {
    background-image: linear-gradient(to bottom, #181617, #181617);
}

.progress .bar-newcastle-united {
    background-image: linear-gradient(to bottom, #181415, #181415);
}
.progress .bar-newcastle-united-away {
    background-image: linear-gradient(to bottom, #1a3b5f, #1a3b5f);
}

.progress .bar-sunderland {
    background-image: linear-gradient(to bottom, #d60022, #d60022);
}
.progress .bar-sunderland-away {
    background-image: linear-gradient(to bottom, #f5ee1b, #f5ee1b);
}

.progress .bar-norwich-city {
    background-image: linear-gradient(to bottom, #0f7152, #0f7152);
}
.progress .bar-norwich-city-away {
    background-image: linear-gradient(to bottom, #fcfcfc, #fcfcfc);
}

.progress .bar-everton {
    background-image: linear-gradient(to bottom, #11367e, #11367e);
}
.progress .bar-everton-away {
    background-image: linear-gradient(to bottom, #facc19, #facc19);
}

.progress .bar-manchester-city {
    background-image: linear-gradient(to bottom, #4d8ecc, #4d8ecc);
}
.progress .bar-manchester-city-away {
    background-image: linear-gradient(to bottom, #413d47, #413d47);
}

.progress .bar-swansea-city {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}
.progress .bar-swansea-city-away {
    background-image: linear-gradient(to bottom, #21244c, #21244c);
}

.progress .bar-hull-city {
    background-image: linear-gradient(to bottom, #e38c1f, #e38c1f);
}
.progress .bar-hull-city-away {
    background-image: linear-gradient(to bottom, #114381, #114381);
}

.progress .bar-fulham {
    background-image: linear-gradient(to bottom, #e2e2e4, #e2e2e4);
}
.progress .bar-fulham-away {
    background-image: linear-gradient(to bottom, #360f14, #360f14);
}

