.notmypremteam {
    opacity: 0.5;
}
.coloursubs {
    opacity: 0.8;
}

.sectional {
  position: relative;
  padding-top: 10px;
  padding-bottom: 90px;
  background: #578562;
  color: #ffffff;
  color: #f6f9f6;
}
.sectional .sectional-title {
  position: absolute;
  top: 12px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#colourhome {
  padding-top: 10px;
}
.sectional.monochrome {
  background: #6e6e6e;
  color: #ffffff;
  color: #f9f6f6;
}
.sectional.highlight {
  background: #639770;
  color: #ffffff;
  color: #f6f9f6;
}
.sectional.color1 {
  background: #578562;
  color: #ffffff;
  color: #f6f9f6;
}
.sectional.color1a {
  background: #3c6c47;
  color: #ffffff;
  color: #f6f9f6;
}
.sectional.color1b {
  background: #4e8a5c;
  color: #ffffff;
  color: #f6f9f6;
}
.sectional.color1c {
  background: #76a080;
  color: #ffffff;
  color: #f6f9f6;
}
.sectional.color2 {
  background: #5f9190;
  color: #ffffff;
  color: #f6f9f9;
}
.sectional.color2a {
  background: #3c6c6b;
  color: #ffffff;
  color: #f6f9f9;
}
.sectional.color2b {
  background: #4e8a89;
  color: #ffffff;
  color: #f6f9f9;
}
.sectional.color2c {
  background: #76a09f;
  color: #ffffff;
  color: #f6f9f9;
}
.sectional.color3 {
  background: #79915f;
  color: #ffffff;
  color: #f7f9f6;
}
.sectional.color3a {
  background: #556c3c;
  color: #ffffff;
  color: #f7f9f6;
}
.sectional.color3b {
  background: #6d8a4e;
  color: #ffffff;
  color: #f7f9f6;
}
.sectional.color3c {
  background: #8ca076;
  color: #ffffff;
  color: #f7f9f6;
}
.sectional.color4 {
  background: #915f85;
  color: #ffffff;
  color: #f9f6f8;
}
.sectional.color4a {
  background: #6c3c61;
  color: #ffffff;
  color: #f9f6f8;
}
.sectional.color4b {
  background: #8a4e7c;
  color: #ffffff;
  color: #f9f6f8;
}
.sectional.color4c {
  background: #a07696;
  color: #ffffff;
  color: #f9f6f8;
}