// Place all the styles related to the Fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .row {min-width:100% !important; }


#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#copy {
    bottom: 0;
    font: 300 .7em Fontin-Sans, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}
#holder {
    margin: -350px 0 0 -350px;
    width: 700px;
    height: 700px;
}


  body {
    overflow-y:scroll;
  }

  text {
    font: 12px sans-serif;
  }

  svg {
    display: block;
  }

  #chart svg {
    height: 400px;
  }

  .teams {
    display: inline-block;
    margin-right: 20px;
  }
  .teams:last-child {
    margin-right: 0px;
  }

  #pltable {
    float: right;
  }

  #bars {
    float: left;
  }