body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  overflow-y: scroll;
}
.label {
  font-size: .65em;
}
body {
  width: 90%;
  margin: auto;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}
.error {
  color: red;
}

#form-column {
  text-align: center;
}

#scorers {
  width:50%; 
  margin-left:25%; 
  margin-right:25%;
}

#scorer-goals {
  text-align: center;
}

#livetargets-svg {
  margin-top: 5em;
  margin-left: 2em;
}
#badge {
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
}
