body {
    background-color: #fff;
    color: #333;
    font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
p, ol, ul, td {
    font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
body {
    padding-top: 50px;
}
#splash-container {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#sign-in {
    color: white;
}
#colours-middle {
    max-width: 100%;
}
.sign-in-label {
    color: #cdcdcd;
}
.remember-me-label {
    color: #a1a1a1;
}
body {
    font: 14px Helvetica Neue;
    text-rendering: optimizeLegibility;
    margin-top: 1em;
    overflow-y: scroll;
}
.label {
    font-size: .65em;
}
.score {
    font-weight: bold;
}
#poss-svg {
    height: 270px;
}
#teams {
    float:left;
    width:50%;
}
#colour-lead {
  font-size: 23px;
  line-height: 32px;
}
#awayteam {
    float: right;
    width: 50%;
}
#hometeam {
    float: left;
    width: 50%;
}
.hometeam {
    margin-right: 2px;
}
.awayteam {
    margin-left: 3px;
}
.custom-enter, .custom-leave, .custom-move {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    position:relative;
}
.custom-enter {
    left:-10px;
    opacity:0;
}
.custom-enter.custom-enter-active {
    left:0;
    opacity:1;
}
.custom-leave {
    left:0;
    opacity:1;
}
.custom-leave.custom-leave-active {
    left:-10px;
    opacity:0;
}
.custom-move {
    opacity:0.5;
}
.custom-move.custom-move-active {
    opacity:1;
}
h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: .3em;
}
.error {
    color: red;
}
#form-column {
    text-align: center;
    font-size: 2.4em;
    color: #fec553;
}
#other-form-column {
    background-color: #06347c;
    text-align: center;
    font-size: 2.4em;
    color: #8a7039;
}
#scorers {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
#scorer-goals {
    text-align: center;
}
#table-div {
    width: 23%;
    padding-right: 0px;
    padding-left: 0px;
}
#live-div {
    width: 27%;
}
#mega-div {
    width: 56%;
}
#live-targets {
    width: 24%;
}
#match-padd-div {
    width: 12%;
}
#match-shots-target {
    right: 1%;
}
#match-live-graph {
    width: 26%;
}
#badge-div {
    width: 20%;
}
.table-points {
    text-align: center;
}
.livescores {
    text-align: center;
}
.prematch {
    min-height: 60px;
    display: table;
}
.prematch p {
    display: table-cell;
    padding-top: 4px;
    vertical-align: middle;
    font-size: 0.85em;
}
#sign-out-btn {
    margin-right: 5px;
}
.graph-title {
    position: relative;
    top: 60px;
    text-decoration: underline;
}
.match-graph-title {
    top: -32%;
    right: -50%;
}
#top-toggles {
    margin-top: 8.5px;
}
#settings-toggle {
    margin-top: 8.5px;
    margin-left: 8px;
    margin-right: auto;
    background-color: #3789e4;
}
#settings-btn {
    margin-right: 5px;
}
#livetargets-svg {
    margin-left: -13%;
}
#live-svg {
}
.bar-title {
}
.progress .bar-home {
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
}
.progress .bar-away {
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
}
.progress .bar {
    height: 100%;
    color: #ffffff;
    float: left;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#fix-and-table {
    padding-right: 5px;
}
.fixdate {
    font-size: 0.75em;
    font-weight: 600;
}
#megaj {
    margin-left: 4%;
    margin-right: 2%;
}
#megajson {
    margin-left: 4%;
    margin-right: 2%;
}
#navvy {
    background-color: #ff8800;
    border-color: #e7e7e7;
}
#badgey {
    max-height: 275px;
    margin-left:10%;
    margin-right:50%;
    margin-top:3%;
    margin-bottom: 6%;
}
