<!DOCTYPE html>
<html lang="en" ng-app="d3App">
  <head>
  	<meta charset="utf-8">

  	<title>EPL-DB</title>
    <%= csrf_meta_tags %>
  	<%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: {{myColour}}">
    </nav>
    <%= yield %>    
    <%= javascript_include_tag "application" %>
  </body>
</html>
